.place-order-container {
  max-width: 600px;
  margin: 30px auto; /* Added some margin to the top */
  padding: 20px;
  background-color: #f9f9f9; /* Light background to make the form stand out */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}

.form-group, .instrument-group {
  margin-bottom: 15px;
}

.form-group label,
.instrument-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Make labels bold */
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  margin-right: 10px; /* Space between input and dropdown */
  padding: 8px; /* Added padding for better usability */
  border: 1px solid #ccc; /* Added border */
  border-radius: 4px; /* Rounded corners */
}

.input-group select {
  width: 120px; /* Adjusted width */
  padding: 8px; /* Added padding */
  border: 1px solid #ccc; /* Added border */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff;
}

.option-inputs {
  display: flex;
  gap: 10px; /* Added spacing between inputs */
  margin-bottom: 15px; /* Add some margin at the bottom */
  font-weight: bold;
}

.cancelButton {
  font-size: medium;
  font-weight: bold;
  border-radius: 10%;
  background-color: rgb(196, 248, 255);
  border-color: rgb(0, 42, 255);
  transition-duration: .3s;
  margin-left: .75vw;
}

.cancelButton:hover {
  background-color: #0011ff;
  cursor: pointer;
  color: white;
}
